<!DOCTYPE html>
<html>
<head>
  <title>ClereMed Server</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<% if @current_user %>
<p class="top"><b>Currently logged in as: </b> <%= @current_user.login %><br />
	<%= link_to "Logout", "/logout" %> <br />
	<%= link_to "Change Password", "/change_pass" %><br />
</p>
<% end %>
<div class="body">
<%= yield %>
</div>
</body>
</html>
