<tr>
	<td><%= record.userID %></td><td><%= record.time %></td><td><%= record.glasses %></td>
	<td><%= record.magnifier%></td><td><%=record.largeprint %></td>
	<td><%= record.helpWithMed%></td><td><%= record.prescription %></td>
	<td><%= record.nonprescription %></td><td><%= record.worn %></td>
	<td><%= record.glossy %></td><td><%= record.userFont %></td>
	<td><%= record.corticosteriods %></td><td><%= record.anticholinergics %></td>
	<td><%= record.eyedrops %></td><td><%= record.diabetes %></td>
	<td><%= record.hypertension %></td><td><%= record.glaucoma %></td>
	<td><%= record.cataracts %></td><td><%= record.maculardegeneration %></td>
	<td><%= record.cognitiveimpairment %></td><td><%= record.other1 %></td>
	<td><%= record.other2 %></td>
	<td><%= record.other3 %></td><td><%= record.other4 %></td>
	<td><%= record.other5 %></td><td><%= record.datetime %></td>
</tr>
