<h2>Edit Settings</h2>
<div class = "Sign_Form">
	<%= form_for(:user, :url => {:controller=>"users", :action =>'update'}) do |f| %>
		<p>Username:<br /> <%= f.text_field :login %> </p>
		<p>Email: <br /><%= f.text_field :email %></p>
		<p>Password: <br /><%= f.password_field :password %></p>
		<p>Password Confirmation: <br /><%= f.password_field :password_confirmation %></p>
		<p>Security Question: (in case of forgotten password) <br /><%= f.text_field :question %></p>
		<p>Answer: <br /><%= f.password_field :answer %></p>
		<p>Answer Confirmation: <br /><%= f.password_field :answer_confirmation %></p>
		<%= f.submit :Update %>
		<% end %>
	<% if @user.errors.any? %>
		<ul class="Signup_Errors">
			<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>
<%= link_to "Back", "/profile"%>
