<% if @num.nil?%>
<% @num = 1 %>
<% end %>

<% if @num == 1 %>
<tr>
	<td class="orig"><%= record.id %></td>
	<td class="orig"><%= record.time.to_f / 1000%>s</td>
	<td class="orig"><%= record.glasses %></td>
	<td class="orig"><%= record.magnifier%></td>
	<td class="orig"><%= record.largeprint %></td>
	<td class="orig"><%= record.helpWithMed%></td>
	<td class="orig"><%= record.prescription %></td>
	<td class="orig"><%= record.nonprescription %></td>
	<td class="orig"><%= record.worn %></td>
	<td class="orig"><%= record.glossy %></td>
	<td class="orig"><%= record.userFont %></td>
	<td class="orig"><%= record.corticosteriods %></td>
	<td class="orig"><%= record.anticholinergics %></td>
	<td class="orig"><%= record.eyedrops %></td>
	<td class="orig"><%= record.diabetes %></td>
	<td class="orig"><%= record.hypertension %></td>
	<td class="orig"><%= record.glaucoma %></td>
	<td class="orig"><%= record.cataracts %></td>
	<td class="orig"><%= record.maculardegeneration %></td>
	<td class="orig"><%= record.cognitiveimpairment %></td>
	<td class="orig"><%= record.other1 %></td>
	<td class="orig"><%= record.other2 %></td>
	<td class="orig"><%= record.other3 %></td>
	<td class="orig"><%= record.other4 %></td>
	<td class="orig"><%= record.other5 %></td>
	<td class="orig"><%= record.datetime %></td>
</tr>
<%else %>
<tr>
	<td class="alt"><%= record.id %></td>
	<td class="alt"><%= record.time.to_f / 1000%>s</td>
	<td class="alt"><%= record.glasses %></td>
	<td class="alt"><%= record.magnifier%></td>
	<td class="alt"><%= record.largeprint %></td>
	<td class="alt"><%= record.helpWithMed%></td>
	<td class="alt"><%= record.prescription %></td>
	<td class="alt"><%= record.nonprescription %></td>
	<td class="alt"><%= record.worn %></td>
	<td class="alt"><%= record.glossy %></td>
	<td class="alt"><%= record.userFont %></td>
	<td class="alt"><%= record.corticosteriods %></td>
	<td class="alt"><%= record.anticholinergics %></td>
	<td class="alt"><%= record.eyedrops %></td>
	<td class="alt"><%= record.diabetes %></td>
	<td class="alt"><%= record.hypertension %></td>
	<td class="alt"><%= record.glaucoma %></td>
	<td class="alt"><%= record.cataracts %></td>
	<td class="alt"><%= record.maculardegeneration %></td>
	<td class="alt"><%= record.cognitiveimpairment %></td>
	<td class="alt"><%= record.other1 %></td>
	<td class="alt"><%= record.other2 %></td>
	<td class="alt"><%= record.other3 %></td>
	<td class="alt"><%= record.other4 %></td>
	<td class="alt"><%= record.other5 %></td>
	<td class="alt"><%= record.datetime %></td>
</tr>
<%end%>
<% @num += 1%>
<% @num = @num.modulo 2 %>
