<% if @num.nil?%>
<% @num = 1 %>
<% end %>
<% if @num == 1 %>
<% type = "orig" %>
<%else %>
<% type = "alt" %>
<%end%>
<tr>
	<td class=<%=type%>><%= record.userID %></td>
	<td class=<%=type%>><%= record.time.to_f / 1000%>s</td>
	<td class=<%=type%>><%= record.glasses %></td>
	<td class=<%=type%>><%= record.magnifier%></td>
	<td class=<%=type%>><%= record.largeprint %></td>
	<td class=<%=type%>><%= record.helpWithMed%></td>
	<td class=<%=type%>><%= record.prescription %></td>
	<td class=<%=type%>><%= record.nonprescription %></td>
	<td class=<%=type%>><%= record.worn %></td>
	<td class=<%=type%>><%= record.glossy %></td>
	<td class=<%=type%>><%= record.userFont %></td>
	<td class=<%=type%>><%= record.corticosteriods %></td>
	<td class=<%=type%>><%= record.anticholinergics %></td>
	<td class=<%=type%>><%= record.eyedrops %></td>
	<td class=<%=type%>><%= record.diabetes %></td>
	<td class=<%=type%>><%= record.hypertension %></td>
	<td class=<%=type%>><%= record.glaucoma %></td>
	<td class=<%=type%>><%= record.cataracts %></td>
	<td class=<%=type%>><%= record.maculardegeneration %></td>
	<td class=<%=type%>><%= record.cognitiveimpairment %></td>
	<td class=<%=type%>><%= record.other1 %></td>
	<td class=<%=type%>><%= record.other2 %></td>
	<td class=<%=type%>><%= record.other3 %></td>
	<td class=<%=type%>><%= record.other4 %></td>
	<td class=<%=type%>><%= record.other5 %></td>
	<td class=<%=type%>><%= record.datetime %></td>
</tr>

<% @num += 1%>
<% @num = @num.modulo 2 %>
