<!DOCTYPE html>
<html>
<head>
  <title>ClereMed Server</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<% if @current_user %>
<p class="top" style="text-align:right;"><b>Currently logged in as: </b> <%= @current_user.login %><br />
	<hr>
<table class="top">
 <tr class="top">
 	<th class="top"><p class="top"><%= link_to image_tag("button1.png"), "/home"%></p></th>
	<th class="top"><p class="top"><%= link_to image_tag("button2.png"), "/logout" %></p></th>
	<th class="top"><p class="top"><%= link_to image_tag("button3.png"), "/change_pass" %></p></th>
	<th class="top"><p class="top"><%= link_to image_tag("button4.png"), "/profile"  %></p></th>
 </tr>
</table>
<% end %>
<br />
<div class="otherBody">
<%= yield %>
</div>
</body>
</html>
